h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 672px;
  height: 672px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.cell {
  border: 1px solid gray;
}

.black {
  background-color: black;
}

.button {
  display: flex;
  justify-content: center;
}