body {
  background-image: url(etch-a-sketch.png);
  background-position: 50% 10%;
  background-repeat: no-repeat;
  background-size: 915px 1035px;
  background-color: #AC0003;
}

h1 {
  margin-bottom: 155px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 672px;
  height: 672px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.black {
  background-color: black;
}

.button {
  display: flex;
  justify-content: center;
  gap: 700px;
  margin-top: 50px;
}

button {
  background-color: transparent;
  border-radius: 50%;
}

.refresh, .new {
  max-width: 75px;
  max-height: 75px;
}