body {
  background-image: url(etch-a-sketch.jpg);
  background-position: 50% 10%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 875px 825px; /* Resize the background image to cover the entire container */
  background-color: #C12C28;
}

h1 {
  margin-bottom: 150px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 672px;
  height: 672px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 50px;
}

.cell {
  border: 1px solid gray;
}

.black {
  background-color: black;
}

.button {
  display: flex;
  justify-content: center;
  gap: 700px;
}

button {
  background-color: transparent;
  border-radius: 50%;
}

.refresh {
  max-width: 75px;
  max-height: 75px;
}

.new {
  max-width: 75px;
  max-height: 75px;
}